html
    head
        link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css")
    body(style="padding:20px;")
        table.ui.celled.striped.table
            thead
                tr
                    th Etape
                    th Description
                    th Risques
                    th Equipement
                    th Actions
            tbody
                {% for step in etapes %}
                tr
                    td
                        i.clipboard.check.icon
                        | {{step.numero}}
                    td
                        {{step.description}}
                    td
                        {{step.risques}}
                    td
                        {{step.equipement}}
                    td

                {% endfor %}