html
     head
         link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css")
     body
         .ui.container(style="border-radius:5px")
           .ui.icon.message.yellow.block-center
             i.exclamation.circle.icon
             .content
               .header {{titre}}
               p.
                 {{description}}